
@{
   
    Layout = "~/Views/Shared/View.cshtml";
}


<p>  Họ tên: @ViewBag.firstname  @ViewBag.lastname</p>


<p>  Giới tính: @ViewBag.gioitinh </p>
<p>  Năm sinh: @ViewBag.namsinh  / @ViewBag.thangsinh </p>

<p> Sở thích: @ViewBag.sothich </p>
<p> Lương:  @ViewBag.salary</p> 
<p>  Work days : @ViewBag.ngaylv</p>
<p> Lương thực:    @ViewBag.luongthuc </p>
